a {
    text-decoration: none;
}

body{
    transition: all 0.5s ease-out;
}

/* .container {
    margin: 2rem auto;
} */
.box {
    margin: 1rem;
    padding: 3.5rem 2rem;
    background-color: #eee;
    text-align: center;
    color: #888888;
    font-size: 1.5rem;
    border-radius: 10px;
    
}

.svg-icon {
    display: block;
    font-size: 2rem;
}

.box:hover {
    color: #3a3a3a;
    background-color: #c2c2c2;
    transform: scale(1.05);
}

.box-dark{
    color: whitesmoke;
    background-color: #616161; 
}

.text-dark{
    color: whitesmoke;
}

.bg-dark{
    background-color: #3a3a3a;
}

.bg-dark-secondary{
    background-color: #686868;
}



nav{
    text-align: center;
    background-color: rgb(209, 209, 209);
    height: 4rem;
}

nav h3{
    display: block;
    height: initial;
    padding: 0.8rem;
}
nav .btn-container{
    position: fixed;
    left: 0;
    background-color: #eee;
    height: 4rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .btn-container .btn{
    font-size: 2.5rem;
}

nav .btn-container .btn:hover{
    cursor: pointer;
}

.display-none{
    display: none;
}

